@import '../../../../styles/app';

.table {
  td,
  th {
    font-weight: normal;
    align-items: center;
    min-width: 100px;
  }

  th {
    font-size: $font-size-sm;
  }

  .headCellPadding {
    padding-left: 10px;
  }

  tbody tr:nth-child(odd) {
    background-color: $gray-light;
  }
}

table thead {
  border-style: hidden !important;
}
